.save-hour-form, .sign-up-tournament-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.save-hour-content input, .sign-up-tournament input{
    background-color: #EAD68C;
    border: none;
    border-bottom: #B9AF89 1px solid;
    margin: 10px 0;
}

.header-submit-form{
text-align: center;
}

.save-hour-content input:focus,.sign-up-tournament input:focus{
    outline: none;
    border-color: #9A937C;
}

.save-hour-content input:focus::placeholder, .sign-up-tournament input:focus::placeholder{
    color: #A59E87;
}

.submit-me{
    align-self: flex-end;
    display: flex;
}

.errors {
    color: red;
    margin: 10px 0;
}

[name=month]{
    pointer-events: none;
}

.save-hour-form input:-internal-autofill-selected{
    background-color: blue !important;
} 

.content{
    height: 500px;
}